<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Error</title>
  <link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>
	<h1>Something went wrong with getting the forecast data</h1>
	<div>
    Make sure to check the spelling of the city you want to search for.
		

	</div>
  <footer>
    <a href="/">HOME</a>
    </footer>
</body>

</html>
