<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather Page</title>
  <link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>
	<h1>Welcome to the weather searcher</h1>

  <h3>
    Type in a city and see the weather forecast
  </h3>
	Search here by entering a city
  <form action="/" method="post">
    <input type="text" name="city">
    <input type="submit" value="Search" class="button">
  </form>

    <br><br>
	
	<hr>

  <h3>
    Cities with most searches for the weather
  </h3>
	Click here to see the most searched cities for forecasts. <a href="/leaderboard">Leaderboard</a><br><br>
	<hr>

  <h3>
    Admin
  </h3>
	To clear the leaderboard <a href="/remove">Remove All Previous Searches</a><br>

</body>

</html>
