<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
  <link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>
	<h1>Removal of all applications</h1>
	<div>
The leaderboard has been cleared from the database. Number of cities removed:

<%- num %>

	</div>
  <footer>
    <a href="/">HOME</a>
    </footer>
</body>

</html>
