<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Place Order</title>
  <link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body>
	<h1>Removing all previous searches</h1>
	<form action="/removeConfirm" method="post" onsubmit="return confirm('Do you really want to clear the leaderboard?')">
		<input type="submit" value="Remove Leaderboard" class="button"/>
	</form>
  <footer>
    <a href="/">HOME</a>
    </footer>
</body>

</html>
